@font-face {
	font-family: "stint";
	src: url("../fonts/stint.ttf")
}

@font-face {
	font-family: "rust";
	src: url("../fonts/rust.otf")
}

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat.otf")
}

@font-face {
	font-family: "asem";
	src: url("../fonts/asem.otf")
}
