@font-face {
	font-family: "Stint";
	src: url("../fonts/Stint.otf")
}

@font-face {
	font-family: "Rust";
	src: url("../fonts/Rust-R.otf")
}

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat.otf")
}

@font-face {
	font-family: "Asem";
	src: url("../fonts/Asem.otf")
}
