@font-face {
	font-family: "stint";
	src: url("../fonts/Stint.ttf")
}

@font-face {
	font-family: "rust";
	src: url("../fonts/Rust.otf")
}

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat.otf")
}

@font-face {
	font-family: "asem";
	src: url("../fonts/Asem.otf")
}
